:root {
  font-family: Sen, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
 /*  background-color: #292929; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --nighthawk-color: #d23c40;
  --user-color: #e9e267;
  --dream-color: #b577b5;
  --main-bg-color: #292929;
  --sidebar-color: #3a3a3a;
  --placeholder-color: lightgray;
}

a {
  font-weight: 500;
  color: inherit;/*  #646cff; */
  text-decoration: none;
}

body {
  display: flex;
  justify-items: center;
  padding: 0;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

header {
  margin-bottom: 16px;
  padding-bottom: 8px;

  border-image-source: url(assets/horizontal-border.svg);
  border-image-slice: 100 0;
  border-bottom: 4px solid var(--nighthawk-color);
}

nav a {
  margin: 0 1.3em;
}

.top-lvl-formatting {
  display: flex;
}

main {
  flex: 4;
}

section {
  /* display: flex; */
 /*  background-color: aqua; */
  text-align: start;
}

aside {
  flex: 1;
  margin-right: 16px;

  border-image: url(assets/vertical-border.svg);
  border-image-slice: 0 30;
  /* border: 4px solid var(--nighthawk-color); */

  border-right: 16px solid var(--nighthawk-color); 
}

/* aside::after {
  content: "|";
  position: absolute;
  font-family: Mistral;
  font-size: 8em;
  color: var(--nighthawk-color);
} */

aside a,
aside button {
  display: block;
  margin: 0 auto;
}

.dream-short-formatting {
  /* display: flex; */
  
  height: 20px;
  width: 400px;

 /*  border: 1px solid var(--dream-color);
  border-radius: 1px; */

  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
 /*  align-items: center; */
}


form li {
  display: flex;
}

label {
  flex: 1;
}

input, textarea {

  width: 100%;
  height: 2em;

  flex: 4;
  font-family: inherit;
  font-size: small;
  color: white;
  background-color: var(--sidebar-color);
  border: none;

  box-sizing: border-box;
}

/* Validation START */

input:focus:invalid,
input.with-error,
textarea:focus:invalid,
textarea.with-error {
  outline: 2px solid black;
  outline-offset: -1px;
  border-radius: 1px;
}

input.with-error,
textarea.with-error {
  border-radius: 1px 1px 0 0;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  
  overflow: hidden;
  height: 2em;
  /* white-space: initial; */
  
  padding: 0;
  margin-top: 0;

  outline: 2px solid black;
  outline-offset: -1px;
  border-radius: 1px;

  font-size: 80%;
  color: white;
  background-color: black;
  border-radius: 0 0 1px 1px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

/* Validation END */

::placeholder {
  color: var(--placeholder-color);
}

/* Custom dropdown */

.select {
  font-size: 80%;
  font-family: inherit;
  box-sizing: border-box;
  padding: 0.1em 2.5em 0.1em 0.5em;
  width: 100%;
  background: var(--sidebar-color);

  /* Addition */
  color:#000;
}

:focus,
.select:active,
.select:focus   {
  outline: 2px solid var(--nighthawk-color);
  outline-offset: -1px;
  border-radius: 1px;
}

.select::after {
  content: "▼";
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 2em;
  top: 0;
  right: 0;
  /* vertical-align: middle; */
  padding: 2px 0 0 0;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--nighthawk-color);
  color: var(--sidebar-color);
}

.select:focus::after {
  background-color: var(--nighthawk-color);
}

.select .optList {
  z-index: 2;
  color: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--placeholder-color);
  background: var(--sidebar-color);
  border-radius: 0 0 1px 1px;
  box-sizing: border-box;
  min-width: 100%;
  max-height: 10em;
  overflow-y: auto;
  overflow-x: hidden;
  outline: 2px solid var(--nighthawk-color);
  outline-offset: -1px;
}

.select .highlight {
  background: var(--nighthawk-color);
  color: white;
}

/* Custom dropdown end */

textarea {
  display: block;
  padding: 4px 4px;
  resize: none;
}

button {
  padding: 0.5em;
  border: none;
  border-radius: 8px;
  background-color: inherit;
  cursor: pointer;

 /*  font-family: inherit; */
  font-size: inherit;
}

.nighthawk {
  color: var(--nighthawk-color);
  font-family: Mistral; 
  font-size: xx-large;
}

.user {
  color: var(--user-color);
  font-family: Sen;
  /* font-size: large; */
}

.dream {
  color: var(--dream-color);
  font-family: Sen;
 /*  font-size: large; */
  /* background-color: aqua; */
}

ul {
  list-style: none;
  padding-left: 4px;
}

li + li {
  margin-top: 0.3em;
}

.bottom-lvl-formatting {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 10px 10px;
  /* margin-left: 1.3em; */
  border-image-source: url(assets/horizontal-border.svg);
  border-image-slice: 100 0;
  border-bottom: 4px solid var(--nighthawk-color);
 /*  border: 4px solid var(--nighthawk-color) */

  padding-bottom: 8px;
 
}

.form-formatting {
  display: grid;
  width: 400px;
  grid-template-columns: 1fr 4fr;
  gap: 10px 10px;
/*   min-height: 0;
  min-width: 0; */
}

/* form * {
  overflow: hidden;
  min-width: 0;
} */
/* nav * {
  color: #d23c40;
  font-family: Mistral;
  font-size: xx-large;
} */

/*
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

 